#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border: 1px solid white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 50px;

    h1 {
        cursor: pointer;
    }

    nav {
        display: flex;
        gap: 20px;
        font-size: 20px;
        align-items: center;

        i {
            cursor: pointer;
        }

        label {
            display: flex;
            align-items: center;
            position: relative;


            button {
                border: none;
                cursor: pointer;
                background-color: var;
                position: absolute;
                right: 10px;
                background-color: white;
                height: 100%;
                border-radius: 0 20px 20px 0;

                i {
                    font-size: 20px;
                }
            }

            input {
                font-size: 20px;
                border: none;
                width: 150px;
                height: 100%;
                outline: none;
                padding: 10px 20px;
                border-radius: 50px;
                transition: width 0.5s ease-in;
                overflow: hidden;

                &:focus {
                    width: 300px;
                }



            }

        }
    }


}